/* Show it's not fixed to the top */
body {
    min-height: 75rem;
}


#consoleFrame{
	border:2px solid #888;
	width:100%;
	height:300px; 
	overflow-y: scroll; 
	overflow-x: hidden; 
	background-color: #888;
}

#consoleFrame .logbox {
	position: relative;
	padding: 0.1rem 1rem;
	border: 1px solid transparent;
	border-radius: 1.25rem;
	border-color: #7b7b7b!important;
	color: #383d41;
}

.logbox.info {
	background-color: #e2e3e5;
}

.logbox.warning {
	background-color: #eeff5b;
}

.logbox.error {
	background-color: #ed4040;
}

.logbox.msg {
	background-color: #d96cf5;
}

.logbox.load {
	background-color: #a9ec5b;
}

#consoleInput .logInput {
	width:200px;
}

#consoleInput .logButton {
	width:100px;
}

.infobox {
	background-color: #fff636;
	width:98%;
	height:23px;
	position: relative;
	border: 1px solid transparent;
	border-radius: 1.25rem;
	border-color: #000000;
	margin-bottom: 1px;
}
.infobox .name{
	background-color: #73e872;
	width:49.4%;
	height:100%;
	border-top-left-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
	text-align: left;
	float:left;
	padding-left: 15px;
	top: 0px;
	bottom: 0px;
	
}
.infobox .value{
	background-color: #73e872;
	width:49.4%;
	height:100%;
	border-top-right-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	text-align: right;
	float:right;
	padding-right: 15px;
	top: 0px;
	bottom: 0px;
	white-space: nowrap; 
}

#lastcommandoutput{
	padding: 0.1rem 1rem;
	background-color: #888;
	border: 1px solid transparent;
	border-radius: 1.25rem;
	border-color: #7b7b7b!important;
	color: #fff;
	font-family: monospace; 
	white-space: pre;
}
.mc-color.mc-0{color: #000000;}
.mc-color.mc-1{color: #0000AA;}
.mc-color.mc-2{color: #00AA00;}
.mc-color.mc-3{color: #00AAAA;}
.mc-color.mc-4{color: #AA0000;}
.mc-color.mc-5{color: #AA00AA;}
.mc-color.mc-6{color: #FFAA00;}
.mc-color.mc-7{color: #AAAAAA;}
.mc-color.mc-8{color: #555555;}
.mc-color.mc-9{color: #5555FF;}

.mc-color.mc-a{color: #55FF55;}
.mc-color.mc-b{color: #55FFFF;}
.mc-color.mc-c{color: #FF5555;}
.mc-color.mc-d{color: #FF55FF;}
.mc-color.mc-e{color: #FFFF55;}
.mc-color.mc-f{color: #FFFFFF;}